<form id="siteset-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">自助取消订单:</label>
        <div class="col-xs-12 col-sm-4">
            <input  id="c-zizhu" name="row[zizhu]" type="hidden" value="{$row.zizhu}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-zizhu" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.zizhu" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
            <div class="text-primary" style="">开启后，用户可以自己取消订单</div>
        </div>

    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">重货渠道:</label>
        <div class="col-xs-12 col-sm-4">
            <input  id="c-zhonghuo" name="row[zhonghuo]" type="hidden" value="{$row.zhonghuo}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-zhonghuo" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.zhonghuo" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
            <div class="text-primary" style="">重货渠道有一定风险，请根据个人情况决定是否开启。</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">优惠券营销:</label>
        <div class="col-xs-12 col-sm-4">
            <input  id="c-coupon" name="row[coupon]" type="hidden" value="{$row.coupon}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-coupon" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success fa-flip-horizontal text-gray fa-2x"></i>
            </a>
            <div class="text-primary" style="">开启后，下单会显示优惠券选项。</div>
        </div>
    </div>

    <div class="form-group">
        <label for="qudao_close" class="control-label col-xs-12 col-sm-2">关闭渠道:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"   class="form-control" id="qudao_close" name="row[qudao_close]" autocomplete="off" value="{$row.qudao_close}"  />
            <div class="text-primary" style="">例如：申通|极兔，多个之间用|隔开，留空表示都开启，关闭后不显示该快递</div>
        </div>
    </div>

    <div class="form-group">
        <label for="city_close" class="control-label col-xs-12 col-sm-2">申请关闭城市:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" id="city_close" name="row[city_close]" autocomplete="off" value="{$row.city_close}"  />
            <div class="text-primary" style="">例如：北京市|南京市，多个之间用|隔开，留空表示都开启，关闭后不显示</div>
        </div>
    </div>

    <div class="form-group">
        <label for="qywx_id" class="control-label col-xs-12 col-sm-2">企业微信ID:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" id="qywx_id" name="row[qywx_id]" autocomplete="off" value="{$row.qywx_id}"  />
            <div class="text-primary" style="">获取方式：企业微信 - 管理企业 - 我的企业 - 企业ID</div>
        </div>
    </div>

    <div class="form-group">
        <label for="kf_url" class="control-label col-xs-12 col-sm-2">微信客服:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" id="kf_url" name="row[agent_config][kf_url]" autocomplete="off" value="{$row.agent_config.kf_url}"  />
            <div class="text-primary" style="">企业微信客服链接如：https://kf.weixin.qq.com/</div>
        </div>
    </div>

    <div class="form-group">
        <label for="kf_url" class="control-label col-xs-12 col-sm-2">抖音客服:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" id="dy_kf" name="row[agent_config][dy_kf]" autocomplete="off" value="{$row.agent_config.dy_kf}"  />
        </div>
    </div>

    <div class="form-group">
        <label for="kf-qrcode" class="control-label col-xs-12 col-sm-2">微信客服二维码:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="input-group">
                <input id="kf-qrcode" data-rule="" class="form-control" size="50" name="row[agent_config][kf_qrcode]" type="text" value="{$row.agent_config.kf_qrcode}">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="faupload-kf-qrcode"
                                class="btn btn-success-light faupload" data-input-id="kf-qrcode"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                                data-multiple="false" data-preview-id="kf-img">
                            <i class="fa fa-upload"></i> 上传
                        </button>
                    </span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="kf-img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">微信客服类型:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios("row[agent_config][kf_type]",["1"=>"客服二维码","2"=>"客服链接"], $row.agent_config.kf_type)}
        </div>
    </div>


    <div class="form-group">
        <label for="wx_mp" class="control-label col-xs-12 col-sm-2">公众号关注文章:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" id="wx_mp" name="row[agent_config][mp_url]" autocomplete="off" value="{$row.agent_config.mp_url}"  />
        </div>
    </div>

    <div class="form-group">
        <label for="kf-qrcode" class="control-label col-xs-12 col-sm-2">公众号:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="input-group">
                <input id="mp-qrcode" data-rule="" class="form-control" size="50" name="row[agent_config][mp_qrcode]" type="text" value="{$row.agent_config.mp_qrcode}">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="faupload-mp-qrcode"
                                class="btn btn-success-light faupload" data-input-id="mp-qrcode"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                                data-multiple="false" data-preview-id="mp-img">
                            <i class="fa fa-upload"></i> 上传
                        </button>
                    </span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="mp-img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">关注类型:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios("row[agent_config][mp_type]",["1"=>"公众号二维码","2"=>"公众号文章"], $row.agent_config.mp_type)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">小程序登录方式:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios("row[agent_config][auth_phone]",["0"=>"自动登录","1"=>"手机授权登录"], $row.agent_config.auth_phone)}
        </div>
    </div>
    <div class="form-group">
        <label for="wx_title" class="control-label col-xs-12 col-sm-2">首页标题文字:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" id="wx_title" name="row[wx_title]" autocomplete="off" value="{$row.wx_title}"  />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">下单提示弹框:</label>
        <div class="col-xs-12 col-sm-4">
            <input  id="c-ordtips" name="row[ordtips]" type="hidden" value="{$row.ordtips}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-ordtips" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.ordtips" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
            <div class="text-primary" style="">开启后，用户下单时候会有弹框提示</div>
        </div>
    </div>

    <div class="form-group">
        <label for="ordtips_title" class="control-label col-xs-12 col-sm-2">弹框标题:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" id="ordtips_title" name="row[ordtips_title]" autocomplete="off" value="{$row.ordtips_title}"  />
        </div>
    </div>

    <div class="form-group">
        <label for="ordtips_cnt" class="control-label col-xs-12 col-sm-2">弹框内容:</label>
        <div class="col-xs-12 col-sm-4 ">
            <textarea id="ordtips_cnt" name="row[ordtips_cnt]" class="form-control" cols="30" rows="5" >{$row.ordtips_cnt}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="zhongguo_tips" class="control-label col-xs-12 col-sm-2">重货弹框内容:</label>
        <div class="col-xs-12 col-sm-4 ">
            <textarea id="zhongguo_tips" name="row[zhongguo_tips]" class="form-control" cols="30" rows="5">{$row.zhongguo_tips}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="button_txt" class="control-label col-xs-12 col-sm-2">按钮文字:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" data-rule="required;length(~4);chinese" id="button_txt" name="row[button_txt]" autocomplete="off" value="{$row.button_txt}"  />
        </div>
    </div>

    <div class="form-group">
        <label for="order_tips" class="control-label col-xs-12 col-sm-2">下单按钮上方提示语:</label>
        <div class="col-xs-12 col-sm-4 ">
            <textarea id="order_tips" name="row[order_tips]" class="form-control" cols="30" rows="3" >{$row.order_tips}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="order_tips" class="control-label col-xs-12 col-sm-2">补缴页面提示内容:</label>
        <div class="col-xs-12 col-sm-4 ">
            <textarea id="bujiao_tips" name="row[bujiao_tips]" class="form-control" cols="30" rows="3" >{$row.bujiao_tips}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="banner" class="control-label col-xs-12 col-sm-2">轮播图:</label>
        <div class="col-xs-12 col-sm-4 ">
            <textarea id="banner" name="row[banner]" class="form-control" cols="30" rows="3">{$row.banner}</textarea>
            <div class="text-primary" style="">图片链接，多个直接用|隔开</div>
        </div>
    </div>

    <div class="form-group">
        <label for="add_tips" class="control-label col-xs-12 col-sm-2">添加小程序提示语:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" id="add_tips" name="row[add_tips]" autocomplete="off" value="{$row.add_tips}"  />
        </div>
    </div>

    <div class="form-group">
        <label for="share_tips" class="control-label col-xs-12 col-sm-2">小程序分享标题:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" id="share_tips" name="row[share_tips]" autocomplete="off" value="{$row.share_tips}"  />
        </div>
    </div>

    <div class="form-group">
        <label for="share_pic" class="control-label col-xs-12 col-sm-2">小程序分享图片:</label>
        <div class="col-xs-12 col-sm-4 ">
            <input type="text"  class="form-control" id="share_pic" name="row[share_pic]" autocomplete="off" value="{$row.share_pic}"  />
        </div>
    </div>

<!--    <div class="form-group">-->
<!--        <label for="wx_map_key" class="control-label col-xs-12 col-sm-2">腾讯地图key:</label>-->
<!--        <div class="col-xs-12 col-sm-4 ">-->
<!--            <input type="text"  class="form-control" id="wx_map_key" name="row[wx_map_key]" autocomplete="off" value="{$row.wx_map_key}"  />-->
<!--        </div>-->
<!--    </div>-->

    <div class="form-group">
        <label for="package_rule" class="control-label col-xs-12 col-sm-2">寄件服务协议:</label>
        <div class="col-xs-12 col-sm-4 ">
            <textarea id="package_rule" name="row[package_rule]" class="form-control editor" cols="30" rows="3" >{$row.package_rule}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="privacy_rule" class="control-label col-xs-12 col-sm-2">寄件隐私协议:</label>
        <div class="col-xs-12 col-sm-4 ">
            <textarea id="privacy_rule" name="row[privacy_rule]" class="form-control editor" cols="30" rows="3" >{$row.privacy_rule}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="agent_rebate" class="control-label col-xs-12 col-sm-2">返佣规则:</label>
        <div class="col-xs-12 col-sm-4 ">
            <textarea id="agent_rebate" name="row[agent_rebate]" class="form-control editor" cols="30" rows="3" >{$row.agent_rebate}</textarea>
        </div>
    </div>

<!--    <div class="form-group">-->
<!--        <label for="checkin_conti_prize" class="control-label col-xs-12 col-sm-2">连续7天的奖励:</label>-->
<!--        <div class="col-xs-12 col-sm-2">-->
<!--            <input type="number" min="0" class="form-control" id="checkin_conti_prize" name="row[checkin_conti_prize]" autocomplete="off" value="{$row.checkin_conti_prize}"  />-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="checkin_cycledays" class="control-label col-xs-12 col-sm-2">默认签到周期:</label>-->
<!--        <div class="col-xs-12 col-sm-2">-->
<!--            <input type="number" min="0" class="form-control" id="checkin_cycledays" name="row[checkin_cycledays]" autocomplete="off" value="{$row.checkin_cycledays}"  />-->
<!--        </div>-->
<!--    </div>-->

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
