<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基本信息</title>
</head>
<body>
<div  id="robot" v-cloak>
    <el-form label-position="right" :model="formData" :rules="rules" ref="ruleForm" >
        <el-card class="box-card" shadow="never">
            <div class="grid-content bg-white">
                <el-form-item label="微信企业机器人" prop="wxImBot">
                    <el-input placeholder="用于通知企业微信群" v-model="formData.wxImBot"></el-input>
                </el-form-item>
                <div>
                    <div class="mt-4 mb-2" style=" font-weight: 500">发送场景：</div>
                    <div class="border px-3">
                        <el-form-item style="margin-top: 22px" label="取消订单">
                            <el-tooltip class="item" effect="dark" content="如：填5 表示订单重量>=5KG时发送取消通知；0 不发通知" placement="top-start">
                                <i style="font-size: 18px" class="el-icon-warning-outline mr-3"></i>
                            </el-tooltip>
                            <el-input-number v-model="formData.wxImWeight"  @change="onChangeWeight" :min="0" ></el-input-number>
                        </el-form-item>
                    </div>
                </div>
                <el-form-item class="mt-3">
                     <el-button style="width: 120px" type="primary"  @click="onSubmit"> 提 交 </el-button>
                </el-form-item>

            </div>
        </el-card>



    </el-form>
</div>

<!-- 弹窗 -->

</body>
<script type="module">
    new Vue({
        el: '#robot',
        data: function() {
            return {
                formData:{
                    wxImBot: '',
                    wxImWeight: 0,
                },

                rules: {
                    'wxImBot': [
                        { required: true, message: '请输入企业微信机器人链接', trigger: ['change'] },
                        { max: 66, message: '内容过长', trigger: ['change'] }
                    ],
                    'wxImWeight': [
                        { required: true, message: '请填写重量', trigger: ['change'] },
                    ],
                }
            };
        },
        created(){
            this.formData.wxImBot = `{$row.wx_im_bot}`
            this.formData.wxImWeight = `{$row.wx_im_weight}`
        },

        methods:{
            onSubmit(){
                this.$refs['ruleForm'].validate((valid) => {
                    console.log('valid', valid)
                    if(valid){
                        Fast.api.ajax({
                            url: 'basicset/wxim/update',
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            data: JSON.stringify({
                                ...this.formData
                            })
                        },  (data) => { //success
                            console.log(data)

                            return true
                        }, (data,ret) => { //error
                            return true;
                        });
                    }
                })
            },
            onChangeWeight(){

            }
        }
    })

</script>
</html>