<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        [v-cloak] {
            display: none;
        }
        .title-tag{
            padding: 3px 20px 3px 10px;
            background: #ecf5ff;
            color: #409eff;
            border: 1px solid #d9ecff;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="p-3 mb-2 bg-white">
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/sf.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/db.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/jd.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/jt.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/sto.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/yd.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/yt.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/zt.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/cn.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/ems.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/best.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/ky.png"></el-avatar>
        <el-avatar class="mr-2" :size="70" src="__CDN__/assets/img/express/sx.png"></el-avatar>
    </div>
    <el-form label-position="right" :model="formData" :rules="rules" ref="ruleForm" label-width="80px" >
        <el-row :gutter="10">
            <el-col :span="12">
                <el-card class="box-card" shadow="never">
                    <div slot="header" class="clearfix">
                        <span class="title-tag">寄件人</span>
                        <el-button style="float: right; padding: 3px 0" type="text"  @click="openAddress('sender')">地址簿</el-button>
                    </div>
                    <div class="grid-content bg-white">
                        <el-form-item label-width="0" >
                        <el-input
                                type="textarea"
                                @input="parseSender"
                                :rows="2"
                                placeholder="粘贴如：浙江省杭州市西湖区西湖名胜风景区，王美丽，13838383388"
                                v-model="senderContent">
                        </el-input>
                        </el-form-item>
                        <el-form-item label="姓名" prop="sender.name">
                            <el-input placeholder="寄件人姓名" v-model="formData.sender.name"></el-input>
                        </el-form-item>
                        <el-form-item label="联系方式" prop="sender.mobile">
                            <el-input placeholder="寄件人手机号码或电话号码" v-model="formData.sender.mobile"></el-input>
                        </el-form-item>
                        <el-form-item label="省市区" prop="sender.county" >
                            <el-cascader
                                    class="w-100"
                                    placeholder="寄件人的省市区"
                                    v-model="sender"
                                    :options="provinceList"
                                    :props="props"
                                    @change="changeSender">
                            </el-cascader>
                        </el-form-item>
                        <el-form-item label="详细地址" prop="sender.location">
                            <el-input placeholder="寄件人详细地址" v-model="formData.sender.location"></el-input>
                        </el-form-item>
                    </div>
                    <div class="d-flex j-end">
                        <el-checkbox v-model="isAddSender">下单后加入地址簿</el-checkbox>
                    </div>

                </el-card>
            </el-col>
            <el-col :span="12">
                <el-card class="box-card" shadow="never">
                    <div slot="header" class="clearfix">
                        <span class="title-tag">收件人</span>
                        <el-button style="float: right; padding: 3px 0" type="text" @click="openAddress('receiver')">地址簿</el-button>
                    </div>
                    <div class="grid-content bg-white">
                        <el-form-item label-width="0" >
                            <el-input
                                    type="textarea"
                                    :rows="2"
                                    @input="parseReceiver"
                                    placeholder="粘贴如：浙江省杭州市西湖区西湖名胜风景区，王美丽，13838383388"
                                    v-model="receiverContent">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="姓名" prop="receiver.name">
                            <el-input placeholder="收件人姓名" v-model="formData.receiver.name"></el-input>
                        </el-form-item>
                        <el-form-item label="联系方式" prop="receiver.mobile">
                            <el-input placeholder="收件人电话号码或手机号码" v-model="formData.receiver.mobile"></el-input>
                        </el-form-item>
                            <el-form-item label="省市区" prop="receiver.county" >
                                <el-cascader
                                        class="w-100"
                                        placeholder="收件人的省市区"
                                        v-model="receiver"
                                        :options="provinceList"
                                        :props="props"
                                        @change="changeReceiver">
                                </el-cascader>
                            </el-form-item>
                        <el-form-item required label="详细地址" prop="receiver.location">
                            <el-input placeholder="收件人详细地址" v-model="formData.receiver.location"></el-input>
                        </el-form-item>
                    </div>
                    <div class="d-flex j-end">
                        <el-checkbox v-model="isAddReceiver">下单后加入地址簿</el-checkbox>
                    </div>
                </el-card>
            </el-col>
        </el-row>

        <el-card class="box-card mt-2" shadow="never">
            <div slot="header" class="clearfix">
                <span class="title-tag">快递信息</span>
            </div>
            <el-row :gutter="5">
                <el-col :span="6">
                    <el-form-item label="托寄物" prop="info.itemName">
                        <el-select v-model="formData.info.itemName" class="w-100" placeholder="托寄物">
                            <el-option
                                    v-for="item in goods"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="重量" prop="info.weight">
                        <el-input type="number" :min="1" v-model="formData.info.weight" placeholder="重量">
                            <template slot="append">KG</template>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="包裹数量" prop="info.packageCount">
                        <el-input type="number" :min="1" v-model="formData.info.packageCount" placeholder="包裹数量"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="长" prop="info.vloumLong">
                        <el-input type="number" :min="1" v-model="formData.info.vloumLong" placeholder="物品长（厘米）">
                            <template slot="append">CM</template>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="宽" prop="info.vloumWidth">
                        <el-input type="number" :min="1" v-model="formData.info.vloumWidth" placeholder="物品宽（厘米）">
                            <template slot="append">CM</template>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="高" prop="info.vloumHeight">
                        <el-input type="number" :min="1" v-model="formData.info.vloumHeight" placeholder="物品高（厘米）">
                            <template slot="append">CM</template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="预约取件">
                        <el-col  :span="11">
                            <el-date-picker type="date" placeholder="选择日期" v-model="formData.pickupStartTime" style="width: 100%;"></el-date-picker>
                        </el-col>
                        <el-col class="line text-center" :span="2">-</el-col>
                        <el-col class="line" :span="11">
                            <el-time-picker placeholder="选择时间" v-model="formData.pickupStartTime" style="width: 100%;"></el-time-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="保价金额" prop="info.insured">
                        <el-input v-model="formData.info.insured" type="number" placeholder="保价金额"></el-input>
                    </el-form-item>
                    <el-form-item >
                        <div><el-button style="width: 120px" type="primary"  @click="onChannel"> 提 交 </el-button></div>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item  label="备注" prop="info.billRemark">
                        <el-input type="textarea" :rows="4" v-model="formData.info.billRemark" placeholder="备注"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-card>
    </el-form>
    <el-dialog
        title="渠道列表"
        :visible.sync="channelVisible"
        @close="onClose"
        width="50%">
        <div>
            <div v-for="item in channelList">
                <div class="mb-2 px-3">
                    <el-radio v-model="requireId" :label="item.requireId" class="d-flex a-center border px-3 py-1 radius hover-shadow" >
                        <img class="rounded-50" width="32" height="32" :src="item.channelLogoUrl" />

                        <div class="d-inline-flex a-center">
                            <span class="mr-2">{{item.tagType}} - 预收</span>
                            <span class="text-danger font-xl font-weight">{{item.freight}}</span>
                            <span class="px-1">元</span>
                            <div v-if="item.onePrice">
                                <span class="px-1">首重：{{item.onePrice}}</span>
                                <span class="px-1">续重：{{item.morePrice}}</span>
                            </div>

                        </div>
                    </el-radio>
                </div>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="channelVisible = false"> 取 消 </el-button>
            <el-button type="primary" @click="onOrder"> 下 单 </el-button>
        </span>
    </el-dialog>

    <el-dialog
            title="地址簿"
            :visible.sync="addressVisible"
            @close="closeAddress"
            width="50%">
        <el-table
                ref="singleTable"
                :data="addressList"
                highlight-current-row
                @current-change="handleCurrentChange"
                style="width: 100%">
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="mobile"
                    label="电话"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="address"
                    label="地址">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="100">
                <template slot-scope="scope">
                    <el-popconfirm
                        title="确定要删除这个地址么？"
                        @confirm = delAddress(scope.row)
                    >
                        <el-button slot="reference" @click.stop type="text" size="small"> 删 除 </el-button>
                    </el-popconfirm>

                </template>
            </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="addressVisible = false"> 确 定 </el-button>
        </span>
    </el-dialog>
    <el-dialog
            title="提示"
            :visible.sync="orderInfoVisible" >
                <div class="mb-5" style="text-align: center">
                    <i class="el-icon-success text-success" style="font-size: 60px"></i>
                    <div class="font-lg font-weight mt-2">下单成功</div>
                    <div v-if="orderInfo.waybill">
                        <span class="text-light-muted font-weight"> 快递单号：</span>
                        <span>{{orderInfo.waybill}}</span>
                        <i @click="copyOrderNo(orderInfo.waybill)" class="el-icon-document-copy" style="cursor: pointer"></i>
                    </div>
                </div>
                <div class="order-info" style="text-align: start">
                    <div class="hidden">
快递单号：{{orderInfo.waybill}} </div>
                    <div>
                        <span class="text-light-muted font-weight">
寄件人姓名：{{orderInfo.sender}} </span>
                    </div>
                    <div><span class="text-light-muted font-weight">
寄件人电话：{{orderInfo.sender_mobile}} </span></div>
                    <div><span class="text-light-muted font-weight">
寄件人地址：{{orderInfo.sender_address}} </span></div>
                    <el-divider></el-divider>
                    <div><span class="text-light-muted font-weight">
收件人姓名：{{orderInfo.receiver}}</span></div>
                    <div><span class="text-light-muted font-weight">
收件人电话：{{orderInfo.receiver_mobile}}</span></div>
                    <div><span class="text-light-muted font-weight">
收件人地址：{{orderInfo.receive_address}}</span></div>
                    <el-divider></el-divider>
                    <div><span class="text-light-muted font-weight">
下单物品：{{orderInfo.item_name}}</span></div>
                    <div><span class="text-light-muted font-weight">
下单重量：{{orderInfo.weight}}</span></div>
                    <div><span class="text-light-muted font-weight">
订单状态：{{orderInfo.order_status}}</span></div>
                </div>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="copyOrderInfo" plain>复制订单</el-button>
            <el-button type="primary" plain @click="onChannel">继续下单</el-button>
        </div>
    </el-dialog>

</div>
</body>


<script type="module">
    import AddressParse from '/assets/js/address-parse/src/parse/index.js';

    /*
    {
      'province': '福建省',
      'city': '福州市',
      'area': '福清市',
      'details': '石竹街道义明综合楼3F',
      'name': 'asseek',
      'code': '350181',
      '__type': 'parseByProvince',     //结果解析使用函数 parseByProvince parseByCity parseByArea
      '__parse': 4,                    //数值越高 可信度越高
      'mobile': '15000000000',
      'zip_code': '',
      'phone': '',
    };
    */
    const c = {
        // 局部注册名为 'my-component' 的子组件
        'button-counter': {
            name: 'button-counter', // 组件名
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
        }
    }

    new Vue({
        el: '#app',
        components: c,
        data: function() {
            return {
                channelVisible: false, // 模态框
                orderInfoVisible: false, // 模态框
                addressVisible: false, // 模态框
                orderInfo: {}, // 订单详情
                sender: [], // 发件人省市区
                receiver: [], // 发件人省市区
                provinceList: [],
                addressList: [],
                currentType: '', // 当前打开的address框。'sender'||'receiver'
                goods: [{
                    value: '日用品',
                    label: '日用品'
                }, {
                    value: '服装',
                    label: '服装'
                }, {
                    value: '鞋',
                    label: '鞋'
                }, {
                    value: '电子产品',
                    label: '电子产品'
                }, {
                    value: '酒水',
                    label: '酒水'
                }],
                formData: {
                    sender:{
                        name: '',
                        mobile: '',
                        province: '',
                        city: '',
                        county: '',
                        location: '',
                    },
                    receiver:{
                        name: '',
                        mobile: '',
                        province: '',
                        city: '',
                        county: '',
                        location: '',
                    },
                    info:{
                        packageCount: 1,    // 包裹数量
                        itemName:'日用品',        // 寄件物品
                        weight:1,           // 重量
                        vloumLong:'',       // 长
                        vloumWidth:'',      // 宽
                        vloumHeight:'',     // 高
                        pickupStartTime:'', // 预约取件时间
                        billRemark:'',      // 备注
                        insured: 0,         // 保价金额
                    },

                },
                senderContent:'',
                receiverContent:'',
                props:{value:'name', label:'name'},
                channelList: [],        // 渠道列表
                requireId: '',          // 被选渠道
                isAddSender: false,
                isAddReceiver: false,
                rules: {
                    'sender.name': [
                        { required: true, message: '请输入寄件人姓名', trigger: ['change'] },
                        { max: 32, message: '名字过长', trigger: ['change'] }
                    ],
                    'sender.mobile': [
                        { required: true, message: '请输入寄件人手机或电话号码', trigger: 'change' },
                        { pattern: /^1[3456789]\d{9}$|^0\d{2,3}-?\d{7,8}$|^400\d{7}$|^400(-\d{3,4}){2,3}$/, message: '手机号格式不正确', trigger: 'change' }
                    ],
                    'sender.county': [
                        { required: true, message: '选择寄件人省市区', trigger: ['change','blur'] },
                    ],
                    'sender.location': [
                        {   required: true, message: '请填写寄件人详细地址', trigger: 'change' }
                    ],
                    'receiver.name': [
                        { required: true, message: '请输入收件人姓名', trigger: ['change'] },
                        { max: 32, message: '名字过长', trigger: ['change'] }
                    ],
                    'receiver.mobile': [
                        { required: true, message: '请输入收件人手机或电话号码', trigger: 'change' },
                        { pattern: /^1[3456789]\d{9}$|^0\d{2,3}-?\d{7,8}$|^400\d{7}$|^400(-\d{3,4}){2,3}$/, message: '手机号格式不正确', trigger: 'change' }

                    ],
                    'receiver.county': [
                        { required: true, message: '选择收件人省市区', trigger: 'change' }
                    ],
                    'receiver.location': [
                        {  required: true, message: '请填写收件人详细地址', trigger: 'change' }
                    ],
                    'info.packageCount': [
                        {  required: true, message: '请选择包裹数量',trigger: 'change' }
                    ],
                    'info.itemName': [
                        {  required: true, message: '请选择包裹数量',trigger: 'change' }
                    ],
                    'info.weight': [
                        {  required: true, message: '请选择包裹数量',trigger: 'change' }
                    ],
                }
            };
        },
        created(){
            this.provinceList = provinceData
        },
        methods:{
            btnClick(){
                console.log('点击事件')
                this.visible = true
            },
            // 解析地址
            parseSender(text){
                const result = AddressParse.parse(text)
                console.log('解析', result)
                if(result.length<=0) return
                let res = result[0]
                this.sender = [res.province , res.city , res.area]
                this.formData.sender.name = this.parseName(res.name);
                this.formData.sender.mobile = res.mobile || res.phone
                this.formData.sender.province = res.province
                this.formData.sender.city = res.city
                this.formData.sender.county = res.area
                this.formData.sender.location = res.details

            },
            // 解析地址
            parseReceiver(text){
                const result = AddressParse.parse(text)
                if(result.length<=0) return
                let res = result[0]
                this.receiver = [res.province , res.city , res.area]
                this.formData.receiver.name =  this.parseName(res.name)
                this.formData.receiver.mobile = res.mobile || res.phone
                this.formData.receiver.province = res.province
                this.formData.receiver.city = res.city
                this.formData.receiver.county = res.area
                this.formData.receiver.location = res.details
            },
            // 选择寄件人省市区
            changeSender(value){
                this.formData.sender.province = value[0]
                this.formData.sender.city = value[1]
                this.formData.sender.county = value[2]
            },
            // 选择收件人省市区
            changeReceiver(value){
                this.formData.receiver.province = value[0]
                this.formData.receiver.city = value[1]
                this.formData.receiver.county = value[2]
            },

            // 查询渠道
            onChannel(){
                this.orderInfoVisible = false
                this.$refs['ruleForm'].validate((valid) => {
                    if (valid) {
                        Fast.api.ajax({
                            url: 'open/order/query',
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            data: JSON.stringify({
                                ...this.formData
                            })
                        },  (data) => { //success
                            console.log(data)
                            let list = data.list
                            this.channelVisible = true
                            this.channelList = data.sort((a,b)=>a.freight - b.freight)
                            return false
                        }, (data,ret) => { //error
                            return true;
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                })
            },


            // 下单
            onOrder(){
                Fast.api.ajax({
                    url: 'open/order/create',
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    data: JSON.stringify({
                        requireId: this.requireId,
                    })
                }, (data) => { //success
                    if (this.isAddSender){
                        this.saveAddress(this.formData.sender)
                    }
                    if (this.isAddReceiver){
                        this.saveAddress(this.formData.receiver)
                    }
                    this.orderInfoVisible = true
                    this.orderInfo = data;

                    // this.getOrderInfo(data)
                    // this.$notify.success({
                    //     title: '下单成功：',
                    //     dangerouslyUseHTMLString: true,
                    //     message: this.getOrderInfo(data),
                    // });
                    // navigator.clipboard.writeText($('.order-info').text())
                    return false
                }, (data,ret) => { //error
                    console.log('data', data)
                    console.log('ret', ret)
                    return true;
                });
                this.channelVisible = false
            },

            // 订单详情
            getOrderInfo(order){
                return `<div class="order-info"><div>快递：${order.tag_type}</div>
<div>快递单号：${order.waybill}</div>
<div>寄件人姓名：${order.sender}</div>
<div>寄件人电话：${order.sender_mobile}</div>
<div>寄件人地址：${order.sender_address}</div>
<div>收件人姓名：${order.receiver}</div>
<div>收件人电话：${order.receiver_mobile}</div>
<div>收件人地址：${order.receive_address}</div>
<div>下单物品：${order.item_name}</div>
<div>下单重量：${order.weight}</div>
<div>订单状态：${order.order_status}</div>
</div>
                `
            },


            // 关闭模态框的回调
            onClose(){
                this.channelList = []
                this.channelId = ''
            },

            // 获取地址簿
            getAddress(){
                Fast.api.ajax({
                    url: 'open/agent_address/index',
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }, (data) => { //success
                    console.log(data)
                    this.addressList = data
                    return false;
                }, (data,ret) => { //error
                    console.log('data', data)
                    console.log('ret', ret)
                    return true;
                });
            },


            // 保存通讯录
            saveAddress(address){
                Fast.api.ajax({
                    url: 'open/agent_address/create',
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    data: JSON.stringify({
                        address,
                    })
                }, (data) => { //success
                    return false;
                }, (data,ret) => { //error
                    console.log('data', data)
                    console.log('ret', ret)
                    return true;
                });
            },

            /**
             * 打开地址簿
             */
            openAddress(type){
                this.addressVisible = true;
                this.currentType = type
                if(this.addressList.length === 0){
                    this.getAddress()
                }
            },

            // 关闭地址模态框
            closeAddress(){
                this.$refs['singleTable'].setCurrentRow();
            },


            // 选中地址
            handleCurrentChange(row) {
                if (!row) return
                let address = Object.assign({}, row)
                delete address.id
                this[this.currentType] = [address.province , address.city , address.county]
                this.formData[this.currentType] = address
            },

            // 删除地址
            delAddress(row){
                Fast.api.ajax({
                    url: `open/agent_address/delete?id=${row.id}`,
                    method: 'delete',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }, (data) => { //success
                    this.getAddress()
                    return true;
                }, (data,ret) => { //error
                    console.log('data', data)
                    console.log('ret', ret)
                    return true;
                });
            },

            // 解析姓名
            parseName(name){
                const pattern = /(寄件人姓名|收件人姓名|寄件人|收件人)\s*/g;
                return name.replace(pattern, '')
            },

            // 复制订单信息
            copyOrderInfo(){
                navigator.clipboard.writeText($('.order-info').text())
                Toastr.success("复制成功");
            },
            // 复制订单编号
            copyOrderNo(orderNo){
                navigator.clipboard.writeText(orderNo)
                Toastr.success("复制成功");
            }
        }
    })

    // 定义一个名为 button-counter 的新组件
    Vue.component('button-counter', {
        name: 'button-counter', // 组件名
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })


</script>
</html>