@font-face {
    font-family: "iconfont"; /* Project id 4252533 */
    src: url('//at.alicdn.com/t/c/font_4252533_ldq63w6b6l.woff2?t=1695553227767') format('woff2'),
    url('//at.alicdn.com/t/c/font_4252533_ldq63w6b6l.woff?t=1695553227767') format('woff'),
    url('//at.alicdn.com/t/c/font_4252533_ldq63w6b6l.ttf?t=1695553227767') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-3:before {
    content: "\e602";
}

.icon-profit:before {
    content: "\e84b";
}

.icon-user:before {
    content: "\e84a";
}
