<form id="saleratio-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="users_shouzhong" class="control-label col-xs-12 col-sm-2">首重价格￥</label>
        <div class="col-xs-12 col-sm-2">
            <input type="number" min="0" class="form-control" id="users_shouzhong" name="row[users_shouzhong]" autocomplete="off" value="{$row.users_shouzhong}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="users_xuzhong" class="control-label col-xs-12 col-sm-2">续重价格￥</label>
        <div class="col-xs-12 col-sm-2">
            <input type="number" min="0" class="form-control" id="users_xuzhong" name="row[users_xuzhong]" autocomplete="off" value="{$row.users_xuzhong}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="users_shouzhong_ratio" class="control-label col-xs-12 col-sm-2">续重增加比例%</label>
        <div class="col-xs-12 col-sm-2">
            <input type="number" min="0" class="form-control" id="users_shouzhong_ratio" name="row[users_shouzhong_ratio]" autocomplete="off" value="{$row.users_shouzhong_ratio}"  />
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
