<style>
    .row-center{
        display: flex; flex-wrap: wrap ;align-items: center
    }
    .text-tip{
        font-size: 10px; color: #666666;
    }
</style>

<div class="panel panel-default panel-intro">
    <div class="panel-body" style="padding: 30px">
            <form id="saleratio-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                <div class="form-group row-center">
                    <label for="users_link" class="control-label col-xs-12 col-sm-2">外部跳转连接</label>
                    <div class="col-xs-12 col-sm-3">
                        <input disabled  id="users_link" class="form-control" value="{$link}" />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >可在H5，短信，微信，QQ等跳转到小程序。</p>
                </div>

                <div class="form-group row-center {:$auth->check('basicset/saleratio/users_shouzhong')?'':'hide'}">
                    <label for="one_weight" class="control-label col-xs-12 col-sm-2">首重价格￥</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="one_weight" name="row[users_shouzhong]" autocomplete="off" value="{$row.users_shouzhong}" />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >四通一达，首重上浮价格，即您的利润，建议1元以上。</p>
                </div>
                <div class="form-group row-center {:$auth->check('basicset/saleratio/users_xuzhong')?'':'hide'}" >
                    <label for="more_weight" class="control-label col-xs-12 col-sm-2">续重价格￥</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="more_weight" name="row[users_xuzhong]" autocomplete="off" value="{$row.users_xuzhong}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip">四通一达，续重上浮价格，即您的利润，建议1元以上。</p>
                </div>


                {volist name="$profit" id="vo" }

                {if $vo.agent_id }
                    <input name="profit[{$vo.id}][id]" value="{$vo.id}" class="hidden" />
                {else /}
                    <input name="profit[{$vo.id}][agent_id]" value="{$agent_id}" class="hidden" />
                    <input name="profit[{$vo.id}][one_weight]" value="{$vo.one_weight}" class="hidden" />
                    <input name="profit[{$vo.id}][more_weight]" value="{$vo.more_weight}" class="hidden" />
                    <input name="profit[{$vo.id}][ratio]" value="{$vo.ratio}" class="hidden" />
                {/if}
                <input name="profit[{$vo.id}][mch_name]" value="{$vo.mch_name}" class="hidden" />
                <input name="profit[{$vo.id}][mch_code]" value="{$vo.mch_code}" class="hidden"  />
                <input name="profit[{$vo.id}][express]" value="{$vo.express}" class="hidden"  />
                <input name="profit[{$vo.id}][type]" value="{$vo.type}" class="hidden"  />
                {if condition ="($vo.type == 1)"}
                <div class="form-group row-center {:$auth->check('basicset/saleratio/users_shouzhong')?'':'hide'}">
                    <label class="control-label col-xs-12 col-sm-2">{$vo.express}首重价格￥:</label>
                    <div class="col-xs-12 col-sm-3">
                        <input id="c-one_weight" class="form-control" step="1" name="profit[{$vo.id}][user_one_weight]" type="number" value="{$vo.user_one_weight}">
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >鲸喜{$vo.express}，首重上浮价格，即您的利润，建议1元以上。</p>
                </div>
                <div class="form-group row-center {:$auth->check('basicset/saleratio/users_shouzhong')?'':'hide'}">
                    <label class="control-label col-xs-12 col-sm-2">{$vo.express}续重价格￥:</label>
                    <div class="col-xs-12 col-sm-3">
                        <input id="c-more_weight" class="form-control" step="1" name="profit[{$vo.id}][user_more_weight]" type="number" value="{$vo.user_more_weight}">
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip">鲸喜{$vo.express}，续重上浮价格，即您的利润，建议1元以上。</p>
                </div>
                {else if condition ="($vo.type == 2)"}
                <div class="form-group row-center {:$auth->check('basicset/saleratio/users_shouzhong')?'':'hide'}">
                    <label class="control-label col-xs-12 col-sm-2">{$vo.express}上浮比例%:</label>
                    <div class="col-xs-12 col-sm-3">
                        <input id="c-ratio" class="form-control" step="1" name="profit[{$vo.id}][user_ratio]" type="number" value="{$vo.user_ratio}">
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip">{$vo.express}的利润，按照原价计算的利润比例。</p>
                </div>
                {/if}
                {/volist}

                <div class="form-group row-center {:$auth->check('basicset/saleratio/users_shouzhong_ratio')?'':'hide'}"  >
                    <label for="users_shouzhong_ratio" class="control-label col-xs-12 col-sm-2">续重增加比例%</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="users_shouzhong_ratio" name="row[users_shouzhong_ratio]" autocomplete="off" value="{$row.users_shouzhong_ratio}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >寄快递德邦、顺丰、京东上浮比例（折后上浮比例），建议14%。</p>
                </div>

                <div class="form-group row-center {:$auth->check('basicset/saleratio/sf_users_ratio')?'':'hide'}">
                    <label for="sf_users_ratio" class="control-label col-xs-12 col-sm-2">顺丰增加比例%(顺丰特惠)</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="sf_users_ratio" name="row[sf_users_ratio]" autocomplete="off" value="{$row.sf_users_ratio}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >顺丰特惠上浮比例，原价的折扣比例。</p>
                </div>

                <div class="form-group row-center {:$auth->check('basicset/saleratio/db_users_ratio')?'':'hide'}">
                    <label for="db_users_ratio" class="control-label col-xs-12 col-sm-2">德邦增加比例%(寄重货)</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="db_users_ratio" name="row[db_users_ratio]" autocomplete="off" value="{$row.db_users_ratio}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >寄重货板块，重货的利润，按照原价计算的利润比例。</p>
                </div>

                <div class="form-group row-center {:$auth->check('basicset/saleratio/agent_tc_ratio')?'':'hide'}">
                    <label for="agent_tc_ratio" class="control-label col-xs-12 col-sm-2">同城增加比例%</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="agent_tc_ratio" name="row[agent_tc_ratio]" autocomplete="off" value="{$row.agent_tc_ratio}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >同城跑腿的上浮比例。</p>
                </div>

                <div class="form-group row-center {:$auth->check('basicset/saleratio/imm_rate')?'':'hide'}">
                    <label for="imm_rate" class="control-label col-xs-12 col-sm-2">直接返佣比例%</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="imm_rate" name="row[imm_rate]" autocomplete="off" value="{$row.imm_rate}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >用户海报分享后，直接下级下单金额的返佣比例。</p>
                </div>

                <div class="form-group row-center {:$auth->check('basicset/saleratio/midd_rate')?'':'hide'}">
                    <label for="midd_rate" class="control-label col-xs-12 col-sm-2">间接返佣比例%</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="midd_rate" name="row[midd_rate]" autocomplete="off" value="{$row.midd_rate}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >用户海报分享后，间接下级下单金额的返佣比例。</p>

                </div>

                <div class="form-group row-center {:$auth->check('basicset/saleratio/service_rate')?'':'hide'}">
                    <label for="service_rate" class="control-label col-xs-12 col-sm-2">佣金提现手续费率：建议8%</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="service_rate" name="row[service_rate]" autocomplete="off" value="{$row.service_rate}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >团队裂变，用户邀请下级等产生的所有佣金，提现时，扣除的佣金比例。</p>

                </div>

                <div class="form-group row-center {:$auth->check('basicset/saleratio/user_cashoutdate')?'':'hide'}">
                    <label for="user_cashoutdate" class="control-label col-xs-12 col-sm-2">提现日期(默认26)</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="user_cashoutdate" name="row[user_cashoutdate]" autocomplete="off" value="{$row.user_cashoutdate}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >默认每月26日提现，客户在设定每个月第几天提现。</p>
                </div>

                <!--    <div class="form-group {:$auth->check('basicset/saleratio/agent_wa_ratio')?'':'hide'}">-->
                <!--        <label for="agent_wa_ratio" class="control-label col-xs-12 col-sm-2">水费折扣:</label>-->
                <!--        <div class="col-xs-12 col-sm-2">-->
                <!--            <input type="number" min="0" class="form-control" id="agent_wa_ratio" name="row[agent_wa_ratio]" autocomplete="off" value="{$row.agent_wa_ratio}"  />-->
                <!--        </div>-->
                <!--    </div>-->

<!--                <div class="form-group row-center {:$auth->check('basicset/saleratio/agent_elec_ratio')?'':'hide'}">-->
<!--                    <label for="agent_elec_ratio" class="control-label col-xs-12 col-sm-2">电费折扣:</label>-->
<!--                    <div class="col-xs-12 col-sm-3">-->
<!--                        <input type="number" min="0" class="form-control" id="agent_elec_ratio" name="row[agent_elec_ratio]" autocomplete="off" value="{$row.agent_elec_ratio}"  />-->
<!--                    </div>-->
<!--                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >电费的利润，单位为元，填写1，利润就是1元。</p>-->
<!--                </div>-->

                <!--    <div class="form-group {:$auth->check('basicset/saleratio/agent_gas_ratio')?'':'hide'}">-->
                <!--        <label for="agent_gas_ratio" class="control-label col-xs-12 col-sm-2">燃气折扣:</label>-->
                <!--        <div class="col-xs-12 col-sm-2">-->
                <!--            <input type="number" min="0" class="form-control" id="agent_gas_ratio" name="row[agent_gas_ratio]" autocomplete="off" value="{$row.agent_gas_ratio}"  />-->
                <!--        </div>-->
                <!--    </div>-->

<!--                <div class="form-group row-center {:$auth->check('basicset/saleratio/agent_credit_ratio')?'':'hide'}">-->
<!--                    <label for="agent_credit_ratio" class="control-label col-xs-12 col-sm-2">话费折扣:</label>-->
<!--                    <div class="col-xs-12 col-sm-3">-->
<!--                        <input type="number" min="0" class="form-control" id="agent_credit_ratio" name="row[agent_credit_ratio]" autocomplete="off" value="{$row.agent_credit_ratio}"  />-->
<!--                    </div>-->
<!--                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >话费的利润，单位为元，填写1，利润就是1元。</p>-->

<!--                </div>-->

                <div class="form-group row-center {:$auth->check('basicset/saleratio/vipprice')?'':'hide'}">
                    <label for="vipprice" class="control-label col-xs-12 col-sm-2">会员价格:</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="vipprice" name="row[vipprice]" autocomplete="off" value="{$row.vipprice}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >会员购买所需支付的钱，配合优惠券类型“会员赠送”类别使用。</p>

                </div>

                <div class="form-group row-center {:$auth->check('basicset/saleratio/couponcount')?'':'hide'}">
                    <label for="couponcount" class="control-label col-xs-12 col-sm-2">福利秒杀最大库存:</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" min="0" class="form-control" id="couponcount" name="row[couponcount]" autocomplete="off" value="{$row.couponcount}"  />
                    </div>
                    <p class="col-xs-12 col-sm-7 m-0 p-0 text-tip" >超值券包的最大购买量，超值券包里面的库存为虚拟销量。</p>
                </div>

                <div class="form-group layer-footer">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
                        <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                    </div>
                </div>
            </form>

        </div>
</div>